.navbar {
    background: #57068c;
    color: white;
}
.navbar a {
    color: white;
}
body {
    font-size: 16px;
}
ul {
    margin: 5px 0;
    padding-left: 20px;
}
li ul {
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}
h2 {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 5px;
}

.content-block {
    color: black;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 3px;
}
