---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Neurosurgery</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png" />

    <link rel="stylesheet" href="fw7/css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/my-app.css">
  </head>

  <body>

    <div class="statusbar-overlay"></div>

    <div class="views">
      <div class="view view-main">

        <!-- navigation -->
        <div class="navbar">

         <!-- index -->
          <div data-page="index" class="navbar-inner">
            <div class="center sliding">Neurosurgery Handbook</div>
          </div>

          <!-- topic -->
          {% for p in site.data.trauma-cranial %}
          <div data-page="{{ p.file | replace:'/','_'}}" class="navbar-inner cached" >
            <div class="left sliding">
              <a href="#" class="link back">< Back</a>
            </div>
          </div>
          {% endfor %}

        </div> <!-- navigation -->


        <!-- pages -->
        <div class="pages navbar-through toolbar-through">

          <!-- index -->
          <div data-page="index" class="page">
            <div class="page-content">

              <div class="content-block-title">Trauma: Cranial</div>
              <div class="list-block">
                <ul>
                  {% for p in site.data.trauma-cranial %}
                  <li>
                    <a href="#{{ p.file | replace:'/','_'}}" class="item-link">
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">{{ p.topic }}</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div> <!-- index -->

          {% for p in site.data.trauma-cranial %}
          <div data-page="{{ p.file | replace:'/','_'}}" class="page cached">
            <div class="page-content">
              <div class="content-block-title">{{ p.topic }}</div>

              <div class="content-block">
                {% capture my-include %}{% include {{ p.file }} %}{% endcapture %}
                {{ my-include | markdownify }}
              </div>
            </div>
          </div>
          {% endfor %}

        </div> <!-- pages -->

      </div> <!-- view-main -->
    </div> <!-- views -->

    <script type="text/javascript" src="fw7/js/framework7.min.js"></script>
    <script type="text/javascript" src="js/my-app.js"></script>
  </body>
</html>
